<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="/stylesheet/style.css">
    <title>lab express</title>
</head>
<body>
    <nav id="nav-menu">
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Works</a></li>
            <li><a href="">Photo galery</a></li>
        </ul>
    </nav>
    <div class = "div-cuerpo">
       <h1>Welcome Visitor</h1>
    </div>
</body>
</html>