<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/stylesheet/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Estas en la pagina works</h2>
    <div id="cajadeositos">
        
        <div class="imagen">
            <img src ="/imagenes/osotrepando.jpg">
        </div>
        <div class="imagen">
            <img src ="/imagenes/osobuzeando.jpeg">
        </div>
        <div class="imagen">
            <img src ="/imagenes/osoduermiendo.jpg">
        </div>
    </div>
    <a href="/" class="div-cuerpo">Back to home</a>
</body>
</html>